* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rosaclaro: #ff99ff;
  --branco: #ffff;
  --rosaescuro: #cc0099;
  --preto: #000000;
}

body {
  background: var(--rosaclaro);
  color: var(--preto);
  font-family: "Times New Roman";
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: var(--rosaescuro);
  font-size: 2rem;
}

h2 {
  color: #cc0099;
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 600;
}

h3 {
  color: var(--rosaescuro);
  font-size: 1rem;
  text-align: center;
}

section {
  width: 90%;
  margin: 2rem auto;
}

header {
  background: var(--branco);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--rosaescuro);
  font-size: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  color: #ffff;
  text-decoration: underline;
}

#about article {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#about img {
  width: 200px;
  flex-shrink: 0;
}

#about p {
  flex: 1;
}

#video figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introducao {
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.hp {
  display: block;
  width: 35%;
  box-sizing: border-box;
  margin-left: 35%;
}
.footer img {
  text-align: center;
  width: 2rem;
  height: 2rem;
  display: block;
}

.final {
  text-align: center;
  color: blueviolet;
}

footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--preto);
    background-color: var(--branco);
    font-weight: bold;
    text-align: center;  
}

.main_contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

form input, textarea{
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: var(--preto);
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 5rem;
}

form button {
  background: var(--rosaescuro);
  color: var(--branco);
  padding: 0.75rem;
  border: 1px solid var(--branco);
  border-radius: 0.75rem;
  font-weight: 700;
  cursor:grab;
}

form button:hover {
  background:var(--rosaclaro);
}

form span {
  color:var(--rosaescuro);
  font-size: 0.75rem;
}


#p1 {
  text-align: center;
}

#p2 {
  text-align: center;
}

.descricao {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.alinhar_fotos {
  display: flex;
  gap: 32px;
  margin-left: 15%;
}

.alinhar_fotos img {
  width: 15%;
  margin-right: 15%;
}
